@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;0,900;1,500&display=swap');

body {
  background-color: #EAF6F6;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  color: #3C8DAD;
  text-align:center;
  font-size: 60px;
  line-height:2px;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  color: #3C8DAD;
  text-align:center;
}

h3 {
  font-family: 'Work Sans', sans-serif;
  color: #66BFBF;
  margin:0px 60px 0px 30px;
}

hr {
  border-style: none;
  height:30px;
  margin-top: 3em;
  border-top: 8px dotted;
  border-color: gray;
  width: 8%;
}

p {
  font-family: 'Work Sans', sans-serif;
  color: #0A1931;
}

li {
  margin:0px 60px 0px 30px;
  font-family: 'Work Sans', sans-serif;
  color: #0A1931;
}

td {
  padding:10px;
  font-family: 'Work Sans', sans-serif;
  color: #0A1931;
  margin:0px 60px 0px 30px;
}
